@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "Ubuntu";
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.section__title {
  color: rgb(110, 110, 199);
  text-align: center;
  margin: 20px;
}

.search {
  margin-bottom: 32px;
  border-radius: 12px;
  border: 1px solid rgb(110, 110, 199);
  line-height: 32px;
  width: 400px;
}

.search:focus {
  outline: 5px rgb(110, 110, 199);
}

.alert {
  display: none;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  line-height: 150%;
  border-radius: 6px;
  background-color: rgba(235, 87, 87, 0.2);
  color: #eb5757;
  max-width: 550px;
  margin: 0 auto;
}

.alert.alert_visible {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  margin-top: 64px;
}

.card {
  text-align: center;
  padding: 18px;
  border: 1px solid rgb(110, 110, 199);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 1px rgba(143, 143, 143, 0.6);
}

.card__title {
  color: rgb(110, 110, 199);
  margin-bottom: 32px;
}

.card__time {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 12px;
}
